{% extends 'base.html.twig' %}

{% block title %}New CommentaryHome{% endblock %}

{% block body %}
<div class="commentary-form">
    <h1 class="text-primary text-center mb-5">Créer un nouveau commentaire</h1>
    {% if error %}
        <p class="text-center"> vous devez remplir tous les champs</p>
    {% endif %}
    {{ include('commentary_home/_form.html.twig') }}
</div>
{% endblock %}
