<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title></title>
</head>
<body>
<h1>Merci pour votre achat</h1>
<p>Vous pouvez trouver le lien de votre livre dans les pièce jointe</p>
</body>
</html>