<div class="footer-container">
    <div class="pre-footer mt-5"></div>
    <div class="footer bg-primary d-flex text-white align-items-center justify-content-between justify-content-md-center">
        <div class="d-flex flex-column flex-md-row align-items-md-center ms-2 ms-md-0">
            <a class="mb-1 block" href="">Tarif</a>
            <div class="d-flex flex-column block">
                <p class="">Email:<br>fabimage.coach@gmail.com</p>
                <div>
                    <a href="https://www.facebook.com/FabimageCoach"><img src="{{ asset('build/images/icons8-facebook-50.png') }}" alt=""></a>
                    <a href="https://www.instagram.com/fabimagecoach/"><img src="{{ asset('build/images/icons8-instagram-50.png') }}" alt="" class="ms-2"></a>
                    <a href="https://www.linkedin.com/in/fabienne-chmara-9a3812187/"><img src="{{ asset('build/images/icons8-linkedin-50.png') }}" alt="" class="ms-2"></a>
                </div>
            </div>
        </div>
        <div class="d-flex flex-column flex-md-row align-items-md-center">
            <p class="mb-1 mb-md-0 block">FABIMAGE OÜ<br>Reg nr: 14768242</p>
            <p class="mb-1 mb-md-0 block">Crédit: <a href="https://icones8.fr/">Icons8</a></p>
        </div>
        <div class="d-flex flex-column flex-md-row align-items-md-center me-2 me-md-0">
            <p class="block mb-md-0">SWEDBANK<br>EE732200221072016678<br></p>
            <p class="block mb-md-0">SWIFT kood/BIC<br>HABAEE2X</p>
        </div>
    </div>
</div>