.book-form{
  .widget{
    height: 40px;
    width: 350px;
  }
  .description-widget{
    height: 300px;
  }
  .errors{
    margin-left: 650px;
  }
  .price-container{
    width: 365px;
    position: relative;
    left: 7px;
  }
  .under-title{
    height: 175px;
  }
}