.card-workshop{
  padding-left: 40px;
  padding-right: 40px;
  .image-container{
    height: 350px;
    img{
      object-fit: cover;
      height: 100%;
      width: 100%;
    }
  }
  .footer{
    position: relative;
    bottom: 50px;
  }
  button{
    height: 30px;
    width: 40px;
    img{
      position: relative;
      bottom: 10px;
    }
  }
}
