.commentaryCard{
    .commentary-introduction{
        width: 1000px;
        @include media-breakpoint-down(xxl){
          width: 800px;
        }
        @include media-breakpoint-down(lg){
          width: 75%;
        }
      }
      .commentaries-carousel{
        min-height: 400px;
        width: 100%;
    
        .commentary{
          width: 1000px;
          @include media-breakpoint-down(xxl){
            width: 800px;
          }
          @include media-breakpoint-down(lg){
            width: 75%;
          }
          margin-right: auto;
          margin-left: auto;
          p{
            line-height: 25px
          }
        }
      }
}