.company{
  .head-text-container{
    @include media-breakpoint-up(md){
      position: relative;
      top: 150px;
      left: 125px;
      width: 800px;
      padding-bottom: 100px;
      padding-left: 100px;
      padding-right: 100px;
      padding-top: 80px;
      margin-left: auto;
      margin-right: 200px;
      @include media-breakpoint-down(xxl){
        left: 200px;
        width: 750px;
        padding-left: 75px;
        padding-right: 75px;
      }
    }
    @include media-breakpoint-down(md){
      margin-top: 50px;
      width: 90%;
      margin-left: auto;
      margin-right: auto;
      h1{
        font-size: 30px;
      }
    }
  }
  .title-image-container{
    @include media-breakpoint-up(md){
      position: absolute;
      z-index: -1;
      margin-left: 100px;
      height: 400px;
      width: 60%;
      img{
        object-fit: cover;
      }
    }
    @include media-breakpoint-down(xxl){
      width: 70%;
      height: 310px;
    }
    @include media-breakpoint-down(md){
      width: 100%;
      height: initial;
    }
  }
  .top-container{
    @include media-breakpoint-up(md){
      margin-bottom: 250px;
    }
  }
  .top-section{
    @include media-breakpoint-down(md){
      width: 90%;
    }
    @include media-breakpoint-up(md){
      width: 1150px;
    }
    @include media-breakpoint-up(xxl){
      width: 1352px;
    }
    .col-right{
      width: 70%;
      @include media-breakpoint-down(md){
        width: 100%;
      }
    }
    .col-left{
      @include media-breakpoint-down(md){
        display: none;
      }
      width: 35%;
      margin-left: 150px;
      img{
        height: 400px;
      }
      .decoration{
        width: 425px;
        height: 375px;
        background-color: #FFEEE2;
        z-index: -1;
        position: relative;
        bottom: 300px;
        right: 57px;
      }
    }
  }
  .bottom-section{
    @include media-breakpoint-up(md){
      margin-top: 150px;
      width: 1150px;
    }
    @include media-breakpoint-up(xxl){
      width: 1352px;
    }
    @include media-breakpoint-down(md){
      width: 90%;
      margin-top: 75px;
    }
    .col-right{
      width: 70%;
      @include media-breakpoint-down(md){
        width: 100%;
      }
    }
    .col-left{
      @include media-breakpoint-down(md){
        display: none;
      }
      width: 30%;
      margin-right: 100px;
      margin-left: 200px;
      img{
        height: 400px;
      }
      .decoration{
        width: 375px;
        height: 375px;
        background-color: #FFEEE2;
        z-index: -1;
        position: relative;
        bottom: 300px;
        right: 83.04px;
      }
    }
  }
}