.followUpEmail-form{
    .widget{
        width: 350px;
        height: 40px;
    }
    .sendAfter-days{
        margin-top: 5px;
    }
    .sendAfter-container{
        margin-left: 7.5%;
    }
}