.followUpEmail-index{
    .commentary{
      width: 100%;
  
      .text{
        width: 600px;
        margin-right: auto;
        margin-left: auto;
        text-align: center;
        display: block;
      }
    }
  }