.service-form{
  .widget{
    height: 40px;
    width: 350px;
  }
  .description-widget{
    height: 300px;
  }
  .errors{
    margin-left: 650px;
  }
  .under-title{
    height: 150px;
  }
  .container-field{
    width: 350px;
  }
}