.tariff-index{
  .card-deco-container{
    background-color: #FED3B5;
  }
  .tariff-card-container{
    width: 75%;
    .card-container{
      width: 300px;
      height: 300px;
      margin-bottom: 115px;
      img{
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      .text-div{
        position: relative;
        bottom: 135px;
        width: 80%;
        min-height: 200px;
        p{
          font-size: 16px;
          margin: 0;
        }
      }
    }
  }
}