<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
    <head>
        <meta charset="UTF-8" name="description" content="{% block metaDescription %}{% endblock %}">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="{{ asset('build/images/favicon.ico') }}">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body class="d-flex flex-column">
    {% include '_include/_navbar.html.twig' %}
    <main class="body">
        {% block body %}
        {% endblock %}
    </main>
    {% include '_include/_footer.html.twig' %}
    </body>
</html>
