<form method="post" action="{{ path('app_promotional_code_delete', {'id': promotional_code.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ promotional_code.id) }}">
    <button class="btn btn-secondary text-white rounded">Supprimer</button>
</form>
